body {
  margin: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  background-color: #f6f6f6;
  
}


#button_link_logout
{
    cursor: pointer;
    /* make button as link haha  */
    background-color: rgb(88, 149, 241);
    border: rgba(197, 235, 219, 0.623);

    /* ====== */
}


  .a_hover_userprofile{
    position: absolute;
    right: 30px;

  }

.topnav {
  overflow: hidden;
  background-color: rgb(88, 149, 241);
  width: 100%; /* Full width */
  position: fixed; /* Set the navbar to fixed position */
  top: 0;  /*Position the navbar at the top of the page */

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;

}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}



@media screen and (max-width: 600px) 
{
   .topnav a:not(:first-child) 
  {
    display: none;

  }


  .a_hover_userprofile
  {
    position: relative;
    left: 5px;

  }

  .topnav a.icon 
  {
    float: right;
    display: block;
  }
  .topnav.responsive
   {
      position: relative;
  }
  
  .topnav.responsive .icon 
  {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav.responsive a 
  {
    float: none;
    display: block;
    text-align: left;
  }
}


/*profile setting*/
.flex_container_setting {
  display: flex;
  flex-wrap: wrap;
}

.flex_container_setting > .first {
  width:30%;
 
}


/*Details print at upside*/
.flex-container-print-details {
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

.flex-container-print-details > .div__details {
    margin: 20px;
    text-align: center;
}